@font-face {
    font-family: "Geometria";
    src: url('../fonts/Geometria/Geometria.eot');
    src: url('../fonts/Geometria/Geometria.woff') format("woff");
    src: url('../fonts/Geometria/Geometria.ttf') format("trutype");
    font-style: normal;
    font-weight: normal;
}