/* КНОПКА ПЕРЕХОДА НА СТРАНИЦУ С QR */

.scanner-container {
    grid-area: qrButton;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: min-content 1fr;
    align-items: center;
    height: 100%;

    container-type: inline-size;
}

.scanner-container-text {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    color: #03102B;
    font-size: 7cqw;
    font-weight: 400;
}

.scanner-button {
    grid-column: 2;
    grid-row: 2;
    border-radius: 0.5vh;
    padding: 10%;
    
    width: 100%;
    height: auto;

    background: linear-gradient(95deg, #03102B, #3B046B);
    box-shadow: 0.1cqw 0.3cqw 1cqw 0.1cqw rgba(0, 0, 0, 0.7);
    transition: transform 0.2s ease;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.scanner-button:hover {

    transform: scale(1.04);
}

.scanner-button:active {
    transform: scale(0.97);
}

.scanner-icon {
    height: 100%;
    width: 100%;
}